.calculator {
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: gray;
    border: 1px solid black;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
}

.all-clear, .zero-btn {
    width: 50%;
}

button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.operator, .all-clear, .percentage {
    background-color: white;
    color: orange;
}

.operator:hover, .all-clear:hover, .percentage:hover {
    background-color: darkorange;
    color: white;
    cursor: pointer;
}

.equal-sign {
    background-color: orange;
    color: white;
}

.equal-sign:hover {
    background-color: darkorange;
}